* {
    box-sizing: border-box;
}

body{
    background: #f5f7fb;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.App{
    padding: 0px;
    position: relative;
    min-width: 600px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.bottom_blob{
    align-self: flex-end;
}

.top_blob{
    align-self: baseline;
}

.homepage{
    display: block;
    width: 700px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-title{
    font-weight: 700;
    line-height: 37px;
    margin: 15px;
    
    width: fit-content;
}

.homepage-description{
    font-style: normal;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
    
    width: fit-content;
}

.start-button{
    color: #F5F7FB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border: none;
    background: #4D5B9E;

    margin: 30px;
}

.start-button:hover{
    background: hsl(230, 34%, 36%);
}

.start-button:active{
    background-color: hsl(230, 34%, 26%);
}
.circle-toggle{

    color: #F5F7FB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #4D5B9E;
}

.circle-toggle:hover{
    background: hsl(230, 34%, 36%);
}

.circle-toggle:active{
    background: hsl(230, 34%, 16%);
}

.question-number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    width: fit-content;
}
